{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h4>Posts from users you are following</h4>

    <h6>You are following <span id="following_count">{{ following_count }}</span> users</h6>

    {% for post in page_obj %}
        <div class="post">
            <div class="border border-primary rounded w-25 mt-2 ml-5">
                <div class="my-1 px-2">
                    <div>
                        <strong><a href="{% url 'profile' post.user.pk %}">{{ post.user }}</a></strong>
                    </div>

                    {% if post.user.id == user.id %}
                        <div id="edit">
                        
                            <a href="#" class="edit_button" id="{{ post.id }}_edit_button" onclick="makeEditable( {{post.id}} )">Edit</a>

                            <div class="edit_form" id="{{ post.id }}_edit_form">
                                <textarea class="edit_textarea" id="{{ post.id }}_edit_content">{{ post.content }}</textarea>
                                <button onclick="saveEdit( {{post.id}} )">Save</button>
                            </div>

                        </div>
                    {% endif %}

                    <div class="post_body" id="{{ post.id }}_post_body">
                        {{ post.content }}
                    </div>

                    <div class="text-muted">
                        {{ post.date_added }}
                    </div>
                    <div class="text-muted">
                        {% if post.user.id != user.id and user.is_authenticated %}
                            {% if user in post.likes %}
                                <span id="{{ post.id }}_likes">{{ post.likes_count }} likes</span><button class="btn btn-primary ml-3" type="submit" id="{{ post.id }}_like_button" onclick="like( {{post.id}} )">Unlike</button>
                            {% else %}
                                <span id="{{ post.id }}_likes">{{ post.likes_count }} likes</span><button class="btn btn-primary ml-3" type="submit" id="{{ post.id }}_like_button" onclick="like( {{post.id}} )">Like</button>
                            {% endif %}
                        {% else %}
                            <span id="{{ post.id }}_likes">{{ post.likes_count }} likes</span> 
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        
    {% endfor %}

    <nav>
        <ul class="pagination ml-5 mt-2">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page{{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="?page=1">Previous</a>
                </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="page-item active">
                        <a class="page-link">{{ page }}</a>
                    </li>
                {% elif page > page_obj.number|add:'-5' and page < page_obj.number|add:'5' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}