{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h4>Posts for {{ profile_user }}</h4>

    <h6><span id="follower_count">{{ followers_count }}</span> followers</h6>

    {% if profile_user.id != user.id and user.is_authenticated %}
        {% if existing_follow == False %}
            <button style="display: block" onclick="followSave( {{ profile_user.id }} )" id="follow">Follow {{ profile_user }}</button>
            <button style="display: none" onclick="followSave( {{ profile_user.id }} )" id="unfollow">Unfollow {{ profile_user }}</button>
        {% else %}
            <button style="display: block" onclick="followSave( {{ profile_user.id }} )" id="unfollow">Unfollow {{ profile_user }}</button>
            <button style="display: none" onclick="followSave( {{ profile_user.id }} )" id="follow">Follow {{ profile_user }}</button>
        {% endif %}
    {% endif %}


    {% for post in user_posts %}
        <div class="post">
            <div class="border border-primary rounded w-25 mt-2 ml-5">
                <div class="my-1 px-2">
                    <div>
                        <strong>{{ post.user }}</strong>
                    </div>

                    {% if post.user.id == user.id %}
                        <div id="edit">
                        
                            <a href="#" class="edit_button" id="{{ post.id }}_edit_button" onclick="makeEditable( {{post.id}} )">Edit</a>

                            <div class="edit_form" id="{{ post.id }}_edit_form">
                                <textarea class="edit_textarea" id="{{ post.id }}_edit_content">{{ post.content }}</textarea>
                                <button onclick="saveEdit( {{post.id}} )">Save</button>
                            </div>

                        </div>
                    {% endif %}

                    <div class="post_body" id="{{ post.id }}_post_body">
                        {{ post.content }}
                    </div>

                    <div class="text-muted">
                        {{ post.date_added }}
                    </div>
                    <div class="text-muted">
                        {{ post.likes }} likes
                    </div>
                </div>
            </div>

        </div>
        
    {% endfor %}
{% endblock %}