{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h4>Posts for {{ profile_user }}</h4>

    <h6><span id="follower_count">{{ followers_count }}</span> followers</h6>

    {% if profile_user.id != user.id and user.is_authenticated %}
        {% if existing_follow == False %}
            <button style="display: block" onclick="followSave( {{ profile_user.id }} )" id="follow">Follow {{ profile_user }}</button>
            <button style="display: none" onclick="followSave( {{ profile_user.id }} )" id="unfollow">Unfollow {{ profile_user }}</button>
        {% else %}
            <button style="display: block" onclick="followSave( {{ profile_user.id }} )" id="unfollow">Unfollow {{ profile_user }}</button>
            <button style="display: none" onclick="followSave( {{ profile_user.id }} )" id="follow">Follow {{ profile_user }}</button>
        {% endif %}
    {% endif %}


    {% for post in page_obj %}
        <div class="post">
            <div class="border border-primary rounded w-25 mt-2 ml-5">
                <div class="my-1 px-2">
                    <div>
                        <strong>{{ post.user }}</strong>
                    </div>

                    {% if post.user.id == user.id %}
                        <div id="edit">
                        
                            <a href="#" class="edit_button" id="{{ post.id }}_edit_button" onclick="makeEditable( {{post.id}} )">Edit</a>

                            <div class="edit_form" id="{{ post.id }}_edit_form">
                                <textarea class="edit_textarea" id="{{ post.id }}_edit_content">{{ post.content }}</textarea>
                                <button onclick="saveEdit( {{post.id}} )">Save</button>
                            </div>

                        </div>
                    {% endif %}

                    <div class="post_body" id="{{ post.id }}_post_body">
                        {{ post.content }}
                    </div>

                    <div class="text-muted">
                        {{ post.date_added }}
                    </div>
                    <div class="text-muted">
                        {{ post.likes }} likes
                    </div>
                </div>
            </div>

        </div>
        
    {% endfor %}

    <nav>
        <ul class="pagination ml-5 mt-2">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page{{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="?page=1">Previous</a>
                </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="page-item active">
                        <a class="page-link">{{ page }}</a>
                    </li>
                {% elif page > page_obj.number|add:'-5' and page < page_obj.number|add:'5' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}